
#work .s-5 h1:after {
content: "";
width: 100%;
height: 30px;
background-image: url(imgs/dots.png);
background-repeat: repeat;
position: absolute;
bottom: -10px;
left: 0;
z-index: -1;
}

.s-5 h1 {
font-weight: 900;
font-size: 40px;
position: relative;
display: inline-block;
z-index: 4;
}

.tabs-work a {
text-decoration: none;
list-style: none;    
font-weight: 900 !important;
font-size: 16px;
color: #1c1c1c !important;
}

.text-30 p{
font-size: 12px;
font-family: 'Montserrat', sans-serif;
letter-spacing: 4px;
font-weight: 800;
color: #1c1c1c;
margin-bottom: 50px ;
transition: all 0.5s;
}

.container2:hover p {
margin-bottom: 15px;
}
.middle i{
height: 30px;
width: 30px;
font-size: 13px;
border-radius: 50%;
padding-top: 8px;
text-align: center;
background-color: #1c1c1c;
color: #fff;
transition: all 1.5s ease;   
border: solid 1px;
border-color: #1c1c1c ;
  }
  
.middle i:hover {
transition: all 500ms ease;
color: #1c1c1c;
background-color: #fff;
}

.container2 {
position: relative;    
}
.image-30 {
opacity: 1;
display: block;
width: 100%;
height: auto;
transition: .5s ease ;}
  
.middle {
transition: .5s ease;
opacity: 0;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;
transition: all .5s ease;
}
  
.container2:hover .image-30 {
opacity: 0.3;
box-sizing: border-box;
border: solid;
border-color: #1c1c1c;
box-shadow:inset 0px 0px 0px 10px !important;

}
  
.container2:hover .middle {
opacity: 1;
}
  

.nav-tabs .nav-link.active {
color: #343434;
text-align: center;
   }
   
.nav-tabs .nav-link {
color: #343434;
}
   
.nav-tabs {
display: flex;
justify-content: center;
align-items: center;
align-content: center;
border: none !important;   
}

.tab-content {
padding: 20px;}
   
.nav-link {
border: none !important;}

.nav-tabs button {
font-family: 'poppin', sans-serif;
text-decoration: none;
list-style: none;    
font-weight: 900 !important;
font-size: 15px;
color: #343434 !important;
}
.nav-tabs .nav-link {
color: #343434;
margin-right: 2rem;
padding-left: 0;
padding-right: 0;
}
.nav-tabs > li {
position: relative;
}

.nav-tabs .active::after {
border-bottom: 2px solid #343434;
bottom: -5px;
content: "";
left: 0;
position: absolute;
right: 0;
width: 60%;
}
